.element
{
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ededed;
    border-radius: 15px;
    margin: 20px;
}
.title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter
{
    width: 70%;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    border-radius: 16px;
}
.counter > div
{
    width: 100%;
    text-align: center;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.counter > button
{
    width: 50px;
    border: none;
    border-radius: 16px;
}