img
{
    width: 96px;
}

.optionsContainer
{
    width: 60vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.option
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ededed;
    border-radius: 15px;
    margin: 20px;

    transition: box-shadow 0.2s ease-in-out;
}
.option:hover
{
    box-shadow: 2px 2px 2px black;
}
.option > div
{
    align-items: center ;
}